{% extends 'seller_base.html' %} {% load static %} {% block content %}

<section>
  <div class="heading">
    Product
    <span class="title">details</span>
  </div>
  <div class="row">
    <div class="login_form" id="Signup_page">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-body">
            <form action="/" method="post">
              {% csrf_token %}
              <div class="overflow-scroll" style="max-height: 400px">
                <div class="input-field">
                  <input
                    type="text"
                    name="name"
                    id=""
                    placeholder="Name"
                    required
                  />
                  
                </div>
                <div class="input-field">
                  <input
                    type="number"
                    name="price"
                    id=""
                    placeholder="Price Of Product"
                    required
                  />
                  
                </div>
                <div class="input-field">
                    <input
                      type="number"
                      name="qantity"
                      placeholder="quantity"
                      required
                    />
                   
                  </div>
                <div class="input-field">
                  <input
                    type="number"
                    name="discount"
                    placeholder="Discount Percentage"
                    required
                  />
                 
                </div>

                <div class="input-field">
                  <input
                    list="browsers"
                    name="category"
                    id="browser"
                    placeholder="Product Category"
                    required
                  />
                  <datalist id="browsers">
                    <option value="Tools"></option>
                    <option value="Agriculture"></option>
                    <option value="weapons"></option>
                    <option value="utensils"></option>
                  </datalist>
                </div>

                <div class="input-field">
                  <input
                    type="file"
                    id="img"
                    name="img"
                    accept="image/*"
                    required
                  />
                </div>
                <label for="exampleFormControlFile1">Choose Image</label>

                <div class="input-field">
                  <textarea
                    class="form-control"
                    id="exampleFormControlTextarea1"
                    rows="3"
                    placeholder="Product Discription"
                  ></textarea>
                </div>
              </div>

              <div class="input-field button">
                <input type="submit" value="Add Product" />
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

{% endblock %}
