{% extends 'seller_base.html' %} {% load static %} {% block content %}

<section>
  {% if l == 0 %}
  <div class="heading">Your <span class="title">Cart</span> is Empty .</div>
  {% else %}
  <div class="heading">
    Your
    <span class="title">products</span>
  </div>
  <div class="row">
    <div class="overflow-scroll" style="max-height: 400px">
      {% for item in productData %}
      <div class="card mb-3">
        <div class="card-body">
          <div class="d-flex justify-content-between">
            <div class="d-flex flex-row align-items-center">
              <div>
                <img
                  src="/{{item.product_image}}"
                  class="img-fluid rounded-3"
                  alt="Shopping item"
                  style="width: 65px"
                />
              </div>
              <div class="ms-3">
                <h3>{{item.name}}</h3>
              </div>
            </div>
            <div class="d-flex align-items-center">
              <div class="price">
                <h3 class="mb-0">Rs.<span>{{item.discounted_price}}</span></h3>
              </div>
              <button type="submit" style="background: white">
                <i class="delete_btn fa fa-edit"></i>
              </button>

              <form action="/seller-delete">
                <input type="hidden" name="product_id" value="{{item.id}}" />
                <button type="submit" style=" background: white">
                  <i class="delete_btn fa fa-trash" ></i>
                </button>
              </form>
              
            </div>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
  <div class="heading">
    

    <a href="{% url 'seller:add-products' %}" class="btn">Add Product</a>
  </div>

  {% endif %}
</section>
{% endblock %}
