<!DOCTYPE html>
<html lang="en">

<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blacksmiths First Online Shop.</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
        <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.0/css/line.css">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3"
        crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <link rel="stylesheet" href="{% static 'shop/style.css'%}">
    <link rel="stylesheet" href="{% static 'shop/cart.css'%}">

</head>

<body>



    <header>

        <div class="header-1">

            <a  class="logo "><i class='fas fa-hammer' style='font-size:36px'></i>Smithy</a>
            <form action="" class="search-box-container">
                <input type="search" id="search-box" placeholder="search here...">
                <label for="search-box" class="fas fa-search"></label>
            </form>
        </div>

        <div class="header-2">

            <div id="menu-bar" class="fas fa-bars"></div>

            <ul class="navbar" style="list-style-type:none;">

                {%url 'shop:index' as url %}
                <li class="{% if request.path == url %} active {% endif %}"><a  href="{{url}}">home</a></li>
                {%url 'shop:tools' as url %}
                <li class="{% if request.path == url %} active {% endif %}"><a href="{{url}}">tools</a></li>
                <li><a href="{% url 'shop:agriculture' %}">Agriculture</a></li>
                <li><a href="{% url 'shop:weapones' %}">Weapones</a></li>
                <li><a href="{% url 'shop:utensils' %}">Utensils</a></li>
                <a href="#category">category</a>
                <a href="#product">product</a>
                <a href="#contact">contact</a>
            </ul>

            <div class="icons">
                
                {% if user.is_authenticated %}
                <a href="#"><i class="fas fa-shopping-cart"></i></a>
                <a href="#" class="fas fa-heart"></a>
                <a class="fas fa-user-circle" id="dropdownMenuLink" data-bs-toggle="dropdown"></a>
                {% comment %} <a href="#"><span>{{user.username}}</span></a> {% endcomment %}
                <div class="dropdown-menu" id="profile-dropdown_box" aria-labelledby="dropdownMenuLink">
                    
                    
                    <a class="dropdown-item" href="#"">Welcome {{user.username}}</a>
                    <hr class="dropdown-divider">
                    <a class="dropdown-item " href="#"><span>My Profile</span></a>
                    <a class="dropdown-item " href="#"><span>Orders</span> </a>
                    <hr class="dropdown-divider">
                    <a class="dropdown-item " href="{% url 'shop:logout' %}"><span>Logout</span> </a>
                </div>
                    {% comment %} <a class="dropdown-item " href="{% url 'shop:logout'%}"><span>Logout</span></a> {% endcomment %}
                    {%else%}
                    
                    {% comment %} <a   data-bs-toggle="modal" data-bs-target="#Login_page">
                        login
                    </a> {% endcomment %}

                    <a class="dropdown-item " href="{% url 'shop:login' %}"><span>Login</span> </a>
                    {%endif%}
                
                

            </div>

        </div>
        {% comment %} <--! loginpage--> {% endcomment %}
           <!-- Button trigger modal -->
    

    {% comment %} <div class="login_form modal fade" id="Login_page">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Login</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                        <form action="#">
                            <div class="input-field">
                                <input type="text" name="" id="" placeholder="Enter your email" required>
                                <i class="uil uil-envelope"></i>
                            </div>
                            <div class="input-field">
                                <input type="password" name="" id="" placeholder="Enter your password" required>
                                <i class="uil uil-lock icon"></i>
                                <i class="uil uil-eye-slash showHidenPw"></i>
                            </div>

                            <div class="checkbox-text">
                                <div class="checkbox-content">
                                    <input type="checkbox" id="logCheck">
                                    <label for="logCheck" class="text">Remember me</label>
                                </div>
                                <div>

                                    <a href="#" class="text">Forgot password?</a>
                                </div>
                            </div>

                            <div class="input-field button">
                                <input type="submit" value="Login Now">
                            </div>

                            <div class="login-signup">
                                <span class="text">Don't have an account
                                    ?
                                    <a  data-bs-toggle=" modal" data-bs-target="#Signup_page">Signup now</a>
                                </span>
                            </div>
                            
                        </form>
                        

                </div>

            </div>
        </div>
    </div> {% endcomment %}

        <!-- Sign Up -->
        {% comment %} <div class="login_form modal fade" id="Signup_page">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Registration</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                            <form action="#" model="POST">
                                {% csrf_token %}
                                <div class="input-field">
                                    <input type="text" name="username" id="" placeholder="User Name" required>
                                    <i class="fa-regular fa-circle-user"></i>
                                </div>
                                <div class="input-field">
                                    <input type="mail" name="email" id="" placeholder="Enter your email" required>
                                    <i class="uil uil-envelope"></i>
                                </div>
                                <div class="input-field">
                                    <input type="password" name="passWord1" class="password" placeholder="Create a password" required>
                                    <i class="uil uil-lock icon"></i>
                                </div>
                                <div class="input-field">
                                    <input type="password" name="password2" class="password" placeholder="Confirm a password" required>
                                    <i class="uil uil-lock icon"></i>
                                    <i class="uil uil-eye-slash showHidenPw"></i>
                                </div>
            
                               
            
                                <div class="input-field button">
                                    <input type="submit" value="Register Now">
                                </div>

                                <div class="login-signup" >
                                    <span class="text">Already have an account?
                                        <a  data-bs-toggle="modal" data-bs-target="#Login_page">Login now</a>
                                    </span>
                                </div>

                            </form>
                         
                    </div>
    
                </div>
            </div>
        </div> {% endcomment %}


    </header>
</body>