{% extends 'base.html' %}
{% load static %}
{% block content %}
    {% comment %} <section class="categories" id="category">

        <div class="spice-image">
            <img src="images/Dairy Products/istockphoto-513470606-170667a.jpg" alt="">
        </div>


    </section> {% endcomment %}
    <section class="product" id="product">

        <h1 class="heading">Select Your <span>Agriculture Weapones</span></h1>

        <div class="box-container">

            <div class="box">
                <span class="discount">-33%</span>

                <img src="images/agriculture/hand_sickle.png" alt="">
                <h3>Hand Sickle</h3>

                <div class="price"> Rs 200.50 <span> Rs 203.20 </span> </div>
                <div class="quantity">
                    <span>quantity : </span>
                    <input type="number" min="1" max="1000" value="1">

                </div>
                <a href="#" class="btn">add to cart</a>
            </div>

            <div class="box">
                <span class="discount">-45%</span>

                <img src="images/agriculture/Shovel&Spade.png" alt="">
                <h3>Shovel & Spade                </h3>

                <div class="price"> Rs 10.50 <span> Rs 13.20 </span> </div>
                <div class="quantity">
                    <span>quantity : </span>
                    <input type="number" min="1" max="1000" value="1">
                </div>
                <a href="#" class="btn">add to cart</a>
            </div>

            <div class="box">
                <span class="discount">-52%</span>

                <img src="images/agriculture/axe.png" alt="">
                <h3>Axe</h3>

                <div class="price"> Rs 10.50 <span> Rs 13.20 </span> </div>
                <div class="quantity">
                    <span>quantity : </span>
                    <input type="number" min="1" max="1000" value="1">

                </div>
                <a href="#" class="btn">add to cart</a>
            </div>

            <div class="box">
                <span class="discount">-13%</span>

                <img src="images/agriculture/Pickaxe.png" alt="">
                <h3>Pickaxe</h3>

                <div class="price"> Rs 10.50 <span> Rs 13.20 </span> </div>
                <div class="quantity">
                    <span>quantity : </span>
                    <input type="number" min="1" max="1000" value="1">

                </div>
                <a href="#" class="btn">add to cart</a>
            </div>

            <div class="box">
                <span class="discount">-20%</span>

                <img src="images/agriculture/Hoe.png" alt="">
                <h3>Hoe</h3>

                <div class="price"> Rs 10.50 <span> Rs 13.20 </span> </div>
                <div class="quantity">
                    <span>quantity : </span>
                    <input type="number" min="1" max="1000" value="1">

                </div>
                <a href="#" class="btn">add to cart</a>
            </div>

            <div class="box">
                <span class="discount">-29%</span>

                <img src="images/agriculture/Rake.webp" alt="">
                <h3>Rake</h3>

                <div class="price"> Rs 10.50 <span> Rs 13.20 </span> </div>
                <div class="quantity">
                    <span>quantity : </span>
                    <input type="number" min="1" max="1000" value="1">
                </div>
                <a href="#" class="btn">add to cart</a>
            </div>

            <div class="box">
                <span class="discount">-55%</span>

                <img src="images/agriculture/Pruning Saw.png" alt="">
                <h3>Pruning Saw</h3>

                <div class="price"> Rs 10.50 <span> Rs 13.20 </span> </div>
                <div class="quantity">
                    <span>quantity : </span>
                    <input type="number" min="1" max="1000" value="1">
                </div>
                <a href="#" class="btn">add to cart</a>
            </div>

            <div class="box">
                <span class="discount">-30%</span>

                <img src="images/agriculture/shovel.png" alt="">
                <h3>Shovel</h3>

                <div class="price"> Rs 10.50 <span> Rs 13.20 </span> </div>
                <div class="quantity">
                    <span>quantity : </span>
                    <input type="number" min="1" max="1000" value="1">
                </div>
                <a href="#" class="btn">add to cart</a>
            </div>

           <div class="box">
                <span class="discount">-40%</span>

                <img src="images/agriculture/Hedge Shears.png" alt="">
                <h3>Hedge Shears</h3>

                <div class="price"> Rs 10.50 <span> Rs 13.20 </span> </div>
                <div class="quantity">
                    <span>quantity : </span>
                    <input type="number" min="1" max="1000" value="1">
                </div>
                <a href="#" class="btn">add to cart</a>
            </div>

        </div>

    </section>
{% endblock %}