
{% extends 'base.html' %}
{% load static %}
{% block content %}
<section class="categories" id="category">

        <div class="spice-image">
            <img src="images/Vegetables/veg.jpg" alt="">
        </div>


    </section>
    <section class="product" id="product">

        <h1 class="heading">Select Your <span>Tools</span></h1>

        <div class="box-container">

            <div class="box">
                <span class="discount">-33%</span>

                <img src="images/tools/Hammer.png" alt="">
                <h3>Hammer</h3>

                <div class="price"> Rs 10.50 <span> Rs 13.20 </span> </div>
                <div class="quantity">
                    <span>quantity : </span>
                    <input type="number" min="1" max="1000" value="1">

                </div>
                <a href="#" class="btn">add to cart</a>
            </div>

            <div class="box">
                <span class="discount">-45%</span>

                <img src="images/tools/Anvil.webp" alt="">
                <h3>Anvil</h3>

                <div class="price"> Rs 10.50 <span> Rs 13.20 </span> </div>
                <div class="quantity">
                    <span>quantity : </span>
                    <input type="number" min="1" max="1000" value="1">

                </div>
                <a href="#" class="btn">add to cart</a>
            </div>

            <div class="box">
                <span class="discount">-52%</span>

                <img src="images/tools/Tongs.png" alt="">
                <h3>Tongs</h3>

                <div class="price"> Rs 10.50 <span> Rs 13.20 </span> </div>
                <div class="quantity">
                    <span>quantity : </span>
                    <input type="number" min="1" max="1000" value="1">

                </div>
                <a href="#" class="btn">add to cart</a>
            </div>

            <div class="box">
                <span class="discount">-13%</span>

                <img src="images/tools/Chisels.png" alt="">
                <h3>Chisels</h3>

                <div class="price"> Rs 10.50 <span> Rs 13.20 </span> </div>
                <div class="quantity">
                    <span>quantity : </span>
                    <input type="number" min="1" max="1000" value="1">

                </div>
                <a href="#" class="btn">add to cart</a>
            </div>

            <div class="box">
                <span class="discount">-20%</span>

                <img src="images/tools/Punches And Drifts.png" alt="">
                <h3>Punches and Drifts</h3>

                <div class="price"> Rs 10.50 <span> Rs 13.20 </span> </div>
                <div class="quantity">
                    <span>quantity : </span>
                    <input type="number" min="1" max="1000" value="1">

                </div>
                <a href="#" class="btn">add to cart</a>
            </div>

            <div class="box">
                <span class="discount">-29%</span>

                <img src="images/tools/Flatters.png" alt="">
                <h3>Flatters</h3>

                <div class="price"> Rs 10.50 <span> Rs 13.20 </span> </div>
                <div class="quantity">
                    <span>quantity : </span>
                    <input type="number" min="1" max="1000" value="1">

                </div>
                <a href="#" class="btn">add to cart</a>
            </div>

            <div class="box">
                <span class="discount">-55%</span>

                <img src="images/tools/Swage Block.png" alt="">
                <h3>Swage Block</h3>

                <div class="price"> Rs 10.50 <span> Rs 13.20 </span> </div>
                <div class="quantity">
                    <span>quantity : </span>
                    <input type="number" min="1" max="1000" value="1">

                </div>
                <a href="#" class="btn">add to cart</a>
            </div>

            <div class="box">
                <span class="discount">-30%</span>
                <img src="images/tools/Set Hammer.png" alt="">
                <h3>Set Hammer</h3>

                <div class="price"> Rs 10.50 <span> Rs 13.20 </span> </div>
                <div class="quantity">
                    <span>quantity : </span>
                    <input type="number" min="1" max="1000" value="1">

                </div>
                <a href="#" class="btn">add to cart</a>
            </div>

           <div class="box">
                <span class="discount">-40%</span>

                <img src="images/tools/Bench Vice.png" alt="">
                <h3>Bench Vice</h3>

                <div class="price"> Rs 10.50 <span> Rs 13.20 </span> </div>
                <div class="quantity">
                    <span>quantity : </span>
                    <input type="number" min="1" max="1000" value="1">

                </div>
                <a href="#" class="btn">add to cart</a>
            </div>
            <div class="box">
                <span class="discount">-40%</span>

                <img src="images/tools/bhhala.png" alt="">
                <h3>
                    Crossed Spears (Bhala)</h3>

                <div class="price"> Rs 10.50 <span> Rs 13.20 </span> </div>
                <div class="quantity">
                    <span>quantity : </span>
                    <input type="number" min="1" max="1000" value="1">

                </div>
                <a href="#" class="btn">add to cart</a>
            </div>
            <div class="box">
                <span class="discount">-40%</span>

                <img src="images/tools/Skrew Driver.png" alt="">
                <h3>Skrew Driver</h3>

                <div class="price"> Rs 10.50 <span> Rs 13.20 </span> </div>
                <div class="quantity">
                    <span>quantity : </span>
                    <input type="number" min="1" max="1000" value="1">

                </div>
                <a href="#" class="btn">add to cart</a>
            </div>
            <div class="box">
                <span class="discount">-40%</span>

                <img src="images/tools/Break Iron.png" alt="">
                <h3>beak iron</h3>

                <div class="price"> Rs 10.50 <span> Rs 13.20 </span> </div>
                <div class="quantity">
                    <span>quantity : </span>
                    <input type="number" min="1" max="1000" value="1">

                </div>
                <a href="#" class="btn">add to cart</a>
            </div>

        </div>

    </section>
{% endblock %}